{% extends 'base.html' %}
<head>
{% block include %}
{{ super() }}
<title>Realizer v0.1.5 TEST</title>
{% endblock %}
</head>


{% block body %}
<body>
 
<iframe src="/" name="commit" style="display: none;"></iframe>
<div class="main" id="main-box">
    <div id="contentwrap"  class="contentwrap">
        <ul class="tab">
            {% if DefaultModel != 'None' %}
            <li id="li_GLM" class="li current" onclick="toGLM()"><span>{{ DefaultModel }}</span></li>
            {% else %}
            <li id="li_GLM" class="li current" onclick="toGLM()" style="display: none;"><span>{{ DefaultModel }}</span></li>
            {% endif %}
            {% if SecondModel != 'None' %}
            <li id="li_GPT" class="li" onclick="toGPT()"><span>{{ SecondModel }}</span></li>
            {% else %}
            <li id="li_GPT" class="li" onclick="toGPT()" style="display: none;"><span>{{ SecondModel }}</span></li>
            {% endif %}
            {% if ThirdModel != 'None' %}
            <li id="li_SD" class="li" onclick="toSD()"><span>{{ ThirdModel }}</span></li>
            {% else %}
            <li id="li_SD" class="li" onclick="toSD()" style="display: none;"><span>{{ ThirdModel }}</span></li>
            {% endif %}
            <li id="li_WIG" class="li" onclick="toWIG()"><span>Widgets</span></li>
        </ul>

        <div class="dialogbox_container" id="DefaultBox">
            <div class="content" id="api-output">

            </div>
            <div class="input-area">
                <div class="txtb">
                    <div style="width: 50vw; margin-left: 5px; margin-right: 5px;">
                        <input name="check_password" type="reg_check_password" name="api-user-input" id="api-user-input" />
                        <span data-placeholder="输入内容" ></span>
                    </div>
                </div>
                <input id="api-model-input" name="api-model-input" type="hidden" value={{ DefaultModel }} />
                <div class="button-area">
                    <button type="button" id="Start"><i class="fa fa-microphone"></i></button>
                    <button type="submit" id="SendAPIInput">发 送</button>
                </div>
            </div>
        </div>

        <div class="dialogbox_container" id="SecondBox" style="display: none;">
                <div class="content" id="openai-output">

                </div>
                <div class="input-area">
                    <div class="txtb">
                        <div style="width: 50vw; margin-left: 5px; margin-right: 5px;">
                            <input name="check_password" type="reg_check_password" name="openai-user-input" id="openai-user-input" />
                            <span data-placeholder="输入内容" ></span>
                        </div>
                    </div>
                    <input name="openai-model-input" id="openai-model-input" type="hidden" value={{ SecondModel }} />
                    <div class="button-area">
                        <button type="button" id="Start"><i class="fa fa-microphone"></i></button>
                        <button type="submit" id="SendOpenaiInput">发 送</button>
                    </div>
                </div>
            </div>

        <div id="ThridBox" style="display: none;">
            <iframe allow="autoplay *; encrypted-media *;" style="height:100vh;width:100%;overflow:hidden;background:transparent;"  src={{ ThirdBoxURL }}></iframe>
        </div>

        <div id="WidgtBox" style="display: none">
            <div class="card_container" style="height: 100vh -10px;">
                <a href="#">
                    <div class="card_contentbox">
                        <h2>小组件</h2>
                        <p>敬请期待</p>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</div>

<div class="account" id="account-box" style="display: none;">
    <div style="margin-left:20px">
        <table id="ModelTable">
            <thead>
                <tr>
                    <th>
                        <center>
                        <h3>模型管理</h3>                            
                        </center>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>模型类型</p>
                    </td>
                    <td>
                        <p>模型名称</p>
                    </td>
                    <td>
                        <p>调用地址</p>
                    </td>
                    <td>
                        <p>访问密钥</p>
                    </td>
                    <td>
                        <p>编译地址</p>
                    </td>
                    <td>
                        <p>启动地址</p>
                    </td>
                    <td>
                        <p>运行</p>
                    </td>
                    <td>
                        <p>删除</p>
                    </td>
                    <td>
                        <p>启动</p>
                    </td>
                </tr>
                {% for Model in ModelList %}
                <input type="hidden" name="{{ Model[0] }}id" id="{{ Model[0] }}id" value={{ Model[0] }}>
                <tr>
                    <td>
                        <select name="type" id="{{ Model[0] }}Type">
                            <option>{{ Model[1] }}</option>
                            <option>OpenAI</option>
                            <option>WebUI</option>
                            <option>API</option>
                        </select>
                    </td>
                    <td> 
                        <input type="text" name="comment" id="{{ Model[0] }}Comment" placeholder="ChatGLM" value={{ Model[2] }}>
                    </td>
                    <td>
                        <input type="text" class="url" id="{{ Model[0] }}Url" name="url" placeholder="127.0.0.1:8000" value={{ Model[3] }}>
                    </td>
                    <td>
                        <input type="text" class="url" id="{{ Model[0] }}APIkey" name="APIkey" placeholder="sk-qwdjqfooajkash & none" value={{ Model[4] }}>
                    </td>
                    <td>
                        <input type="TEXT" class="url" id="{{ Model[0] }}LcCompiler" name="LcCompiler" placeholder=".\venv\python.exe & OpenAI" value={{ Model[5] }}>
                    </td>
                    <td>
                        <input type="text" class="url" id="{{ Model[0] }}LcUrl" name="LCurl" placeholder=".\ChatGLM\launch.py" value={{ Model[6] }}>
                    </td>
                    <td>
                        <button type="submit" class="allow" id="{{ Model[0] }}run"><i class="fa fa-play"></i></button>
                    </td>
                    <td>
                        <button type="submit" class="deny" id="{{ Model[0] }}stop"><i class="fa fa-stop"></i></button>
                    </td>
                    <td>
                        <button type="submit" class="edit" id="{{ Model[0] }}edit"><i class="fa fa-edit"></i></button>
                    </td>
                    <td>
                        <button type="submit" class="deny" id="{{ Model[0] }}del"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
                <form action="/exchange" method="post" target="exchange">
                    <input type="hidden" name="state" id="state">
                    <input type="hidden" name="id" id="number" value="-1">
                    <tr>
                        <td>
                            <select name="type">
                                <option>OpenAI</option>
                                <option>WebUI</option>
                                <option>API</option>
                            </select>
                        </td>
                        <td> 
                            <input type="text" name="comment" placeholder="ChatGLM">
                        </td>
                        <td>
                            <input type="text" class="url" name="url" placeholder="127.0.0.1:8000">
                        </td>
                        <td>
                            <input rtpe="text" class="url" name="APIkey" placeholder="sk-ahsjfidajfuahfhla & none">
                        </td>
                        <td>
                            <input type="TEXT" class="url" name="LcCompiler" placeholder=".\venv\scripts\python.exe">
                        </td>
                        <td>
                            <input type="TEXT" class="url" name="LCurl" placeholder=".\venv\launch.py">
                        </td>
                        <td>
                            <button disabled type="submit" class="edit" name="edit" id="edit">编辑</button>
                        </td>
                        <td>
                            <button disabled type="submit" class="deny" name="del" id="del">删除</button>
                        </td>
                        <td>
                            <button action="/exchange" type="submit" class="allow" name="launch" id="add">添加</button>
                        </td>
                    </tr>
                </form>
            </thead>
        </table>
    </div>
</div>

<div class="widgets" id="widgets-box" style="display: none;">
    <div class="card_container">
        <a href="#">
            <div class="card_contentbox">
                <h2>小组件</h2>
                <p>Coming Soon!</p>
            </div>
        </a>

        <a href="#">
            <div class="card_contentbox">
                <h2>小组件</h2>
                <p>Coming Soon!</p>
            </div>
        </a>

        <a href="#">
            <div class="card_contentbox">
                <h2>小组件</h2>
                <p>Coming Soon!</p>
            </div>
        </a>

        <a href="#">
            <div class="card_contentbox">
                <h2>小组件</h2>
                <p>Coming Soon!</p>
            </div>
        </a>

        <a href="#">
            <div class="card_contentbox">
                <h2>小组件</h2>
                <p>Coming Soon!</p>
            </div>
        </a>
    </div>
</div>

<div class="models" id="models-box" style="display: none;">
    <div class="card_container">
        <a href="https://github.com/THUDM/ChatGLM-6B">
            <div class="card_contentbox">
                    <h2>ChatGLM-6B</h2>
                    <p>ChatGLM-6B 是一个开源的、支持中英双语的对话语言模型。更多信息请点击本链接</p>
            </div>
        </a>

        <a href="https://www.openai.com/">
            <div class="card_contentbox">
                <h2>ChatGPT</h2>
                <p>ChatGPT是由OpenAI开发的大型语言模型,用于进行自然语言交互。更多信息请点击本链接</p>
            </div>
        </a>

        <a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui">
            <div class="card_contentbox">
                <h2>StableDiffusion</h2>
                <p>Stable Diffusion是一种潜在扩散模型,能够从文本描述中生成详细的图像。更多信息请点击本链接</p>
            </div>
        </a>
    </div>
</div>

<div class="settings" id="setting-box" style="display: none;">
    <form action="/EditSetting" target="commit" method="post">
        <div style="margin-left:20px" class="content">
            <hr class="line">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>窗口设置  </h3>
                        </th>
                        <th>
                            <h3>Windows Settings</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>默认窗口</p>
                        </td>
                        <td>
                            <select name="DefaultModel">
                                <option>{{ DefaultModel }}</option>
                                {% for Model in ModelList %}
                                <option value={{ Model[2] }}>{{ Model[2] }}</option>
                                {% endfor %}
                                <option value="None">关闭</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>第二窗口</p>
                        </td>
                        <td>
                            <select name="SecondModel">
                                <option>{{ SecondModel }}</option>
                                {% for Model in ModelList %}
                                <option value={{ Model[2] }}>{{ Model[2] }}</option>
                                {% endfor %}
                                <option value="None">关闭</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>第三窗口</p>
                        </td>
                        <td>
                            <select name="ThirdModel">
                                <option>{{ ThirdModel }}</option>
                                {% for Model in ModelList %}
                                <option value={{ Model[2] }}>{{ Model[2] }}</option>
                                {% endfor %}
                                <option value="None">关闭</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr class="line">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>远程设置</h3>
                        </th>
                        <th>
                            <h3>Remote Setting</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>iPv4地址</p>
                        </td>
                        <td>
                            <input type="text" name="iPv4" placeholder="127.0.0.1" value={{ host }} />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>端口</p>
                        </td>
                        <td>
                            <input type="number" name="Port" placeholder="5000" value={{ port }} />
                        </td>
                    </tr>
                </thead>
            </table>
            <hr class="line">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>开发者设置  </h3>
                        </th>
                        <th>
                            <h3>Developer Settings</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>Web模式</p>
                        </td>
                        <td>
                            <input type="text" name="Mode" placeholder="False" value={{ Mode }} />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>DeBug模式</p>
                        </td>
                        <td>
                            <input type="text" name="BugM" placeholder="False" value={{ BugM }} />
                        </td>
                    </tr>
                </thead>
            </table>
            <hr class="line">
        </div>
        <button type="submit" class="deny" style="float: left;margin-left: 10px;margin-right: 10px;" onclick="loading()">重置</button>
        <button type="submit" class="allow" style="float: right;margin-left: 10px;margin-right: 10px;" onclick="loading()">更改</button>
    </form>

    
</div>

<div class="login-container" id="login-box" style="display: none;">
    <div class="login-form-container sign-up-container" id="SignUp">
        <form action="/register" method="POST" id="SignUpDiv">
                <h1>注册</h1>           
                <div class="txtb">
                    <input name="reg_txt" type="reg_text">
                    <span data-placeholder="Useranme" ></span>
                </div>
                <div class="txtb">
                    <input name="email" type="reg_email">
                    <span data-placeholder="Email" ></span>
                </div> 
                <div class="txtb">
                    <input name="set_password" type="reg_set_password">
                    <span data-placeholder="Password" ></span>
                </div>
                <div class="txtb">
                    <input name="check_password" type="reg_check_password">
                    <span data-placeholder="Confirm Password" ></span>
                </div>            
                <button type="submit" herf="/register">注册</button>
                <p onclick="CloseLogin()" class="submit" style="margin-top: 2%;">取消</p>
        </form>

    </div>

    <div class="login-form-container sign-in-container" id="SignIn">
        <form action="/login" method="POST" id="login">
            <h1>登录</h1>
            <div class="txtb">
                <input name="logid" type="log_id">
                <span data-placeholder="Username" ></span>
            </div>
            <div class="txtb">
                <input name="password" type="log_password">
                <span data-placeholder="Password"></span>
            </div>
            <button class="submit" type="submit" herf='/login'>登录</button>
            <p onclick="CloseLogin()" class="submit" style="margin-top: 2%;">取消</p>
        </form>
    </div>

    <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>已有账号？</h1>
                    <p>请使用您的账号进行登录</p>
                    <button class="ghost" id="signIn" onclick="SignIn()">登录</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>没有账号?</h1>
                    <p>立即注册加入我们</p>
                    <button class="ghost" id="signUp" onclick="SignUp()">注册</button>
                </div>
            </div>
    </div>
</div>

<div class="copyright" id="rights-box" style="display: none;">
    <img style="margin: 50px;width: 100px;height: 100px;" src="/static/res/test.ico" alt="Realizer">
    <h3 style="margin: 50px;">Realizer Version 0.1.5(202307082000) Developer Alpha</h3>
    <a href="https://www.github.com/hcl595/universalmodelassistant/">learn more...</a>
</div>

<div class="loadingOne" id="loading" style="display: none;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

</body>
<script type="text/javascript">
let height = document.querySelector('.content').scrollHeight;
document.querySelector(".content").scrollTop = height;

function SignUp(){
    $("#login-box").addClass('right-panel-active')
}

function SignIn(){
    $("#login-box").removeClass('right-panel-active')
}

$(".txtb input").on("focus",function(){
    $(this).addClass("focus")
})

$(".txtb input").on("blur",function(){
    if($(this).val() == '')
    $(this).removeClass("focus")
})

//ajax交互
$(document).on('click',"#SendOpenaiInput",
        function() {
        $("#loading").fadeIn(100);
        var userInput = $('#openai-user-input').val();
        $('#openai-output').append('<div class="item item-right"><div class="bubble bubble-right">' + userInput + '</div><div class="avatar"><i class="fa fa-user-circle"></i></div></div>');
        $.ajax({
            url: '/openai',
            type: 'POST',
            data: {
                userinput: userInput,
                modelinput: modelInput,
            },
            success: function(response) {
                var chatGptResponse = response.response;
                $('#openai-output').append('<div class="item item-left"><div class="avatar"><i class="fa fa-user-circle-o"></i></div><div class="bubble bubble-left">' + chatGptResponse + '</div></div>');
                $('#openai-user-input').val('');
                $("#loading").fadeOut(100)
            }
        });
    });

$(document).on('click',"#SendAPIInput",
    function() {
    $("#loading").fadeIn(100)
    var userInput = $('#api-user-input').val();
    $('#api-output').append('<div class="item item-right"><div class="bubble bubble-right">' + userInput + '</div><div class="avatar"><i class="fa fa-user-circle"></i></div></div>');
    $.ajax({
        url: '/llm',
        type: 'POST',
        data: {
            userinput: $('#api-user-input').val() ,
            modelinput: $('#api-model-input').val()
            },
        success: function(response) {
            var chatGptResponse = response.response;
            $('#api-output').append('<div class="item item-left"><div class="avatar"><i class="fa fa-user-circle-o"></i></div><div class="bubble bubble-left">' + chatGptResponse + '</div></div>');
            $('#api-user-input').val('');
            $("#loading").fadeOut(100)
        }
    });
});

{% for Model in ModelList %}
$(document).on('click',"#{{ Model[0] }}run",
    function() {
    $("#loading").fadeIn(100)
    $('#{{ Model[0] }}run').attr("disabled",true) //TODO: 修复该行未执行
    $.ajax({
        url: '/exchange',
        type: 'POST',
        data: {
            state: 'run' ,
            number: $('#{{ Model[0] }}id').val() ,
            comment: $('#{{ Model[0] }}Comment').val() ,
            url: $('#{{ Model[0] }}url').val() ,
            APIkey: $('#{{ Model[0] }}APIkey').val() ,
            LcCompiler: $('#{{ Model[0] }}LcCompiler').val() ,
            LcUrl: $('#{{ Model[0] }}LcUrl').val() ,
        },
        success: function(response) {
            var chatGptResponse = response.response;
            $("#loading").fadeOut(100)
            $('#{{ Model[0] }}run').removeAttr("disabled")
        }
    });
});
$(document).on('click',"#{{ Model[0] }}stop",
    function() {
    $("#loading").fadeIn(100)
    $('#{{ Model[0] }}stop').attr("disabled",true)
    $.ajax({
        url: '/exchange',
        type: 'POST',
        data: {
            state: 'stop' ,
            number: $('#{{ Model[0] }}id').val() ,
            comment: $('#{{ Model[0] }}Comment').val() ,
            url: $('#{{ Model[0] }}url').val() ,
            APIkey: $('#{{ Model[0] }}APIkey').val() ,
            LcCompiler: $('#{{ Model[0] }}LcCompiler').val() ,
            LcUrl: $('#{{ Model[0] }}LcUrl').val() ,
        },
        success: function(response) {
            var chatGptResponse = response.response;
            $("#loading").fadeOut(100)
            $('#{{ Model[0] }}stop').removeAttr("disabled")
        }
    });
});
$(document).on('click',"#{{ Model[0] }}edit",
    function() {
    $("#loading").fadeIn(100)
    $('#{{ Model[0] }}edit').attr("disabled",true)
    $.ajax({
        url: '/exchange',
        type: 'POST',
        data: {
            state: 'edit' ,
            number: $('#{{ Model[0] }}id').val() ,
            comment: $('#{{ Model[0] }}Comment').val() ,
            url: $('#{{ Model[0] }}url').val() ,
            APIkey: $('#{{ Model[0] }}APIkey').val() ,
            LcCompiler: $('#{{ Model[0] }}LcCompiler').val() ,
            LcUrl: $('#{{ Model[0] }}LcUrl').val() ,
        },
        success: function(response) {
            var chatGptResponse = response.response;
            $("#loading").fadeOut(100)
            $('#{{ Model[0] }}edit').removeAttr("disabled")
        }
    });
});
$(document).on('click',"#{{ Model[0] }}del",
    function() {
    $("#loading").fadeIn(100)
    $('#{{ Model[0] }}del').attr("disabled",true)
    $.ajax({
        url: '/exchange',
        type: 'POST',
        data: {
            state: 'del' ,
            number: $('#{{ Model[0] }}id').val() ,
            comment: $('#{{ Model[0] }}Comment').val() ,
            url: $('#{{ Model[0] }}url').val() ,
            APIkey: $('#{{ Model[0] }}APIkey').val() ,
            LcCompiler: $('#{{ Model[0] }}LcCompiler').val() ,
            LcUrl: $('#{{ Model[0] }}LcUrl').val() ,
        },
        success: function(response) {
            var chatGptResponse = response.response;
            $("#loading").fadeOut(100)
            $('#{{ Model[0] }}del').removeAttr("disabled")
        }
    });
});
{% endfor %}


    //CommitModel
function loading(){
    $("#loading").fadeIn(100)
    setTimeout(function(){ $("#loading").fadeOut(100) },1000)
}



//launch model




</script>
{% endblock %}
{% block footer %}
{% endblock %}
</html>