{% extends 'base.html' %}
<head>
{% block include %}
{{ super() }}
<title>Realizer v0.1.9 Gamma</title>
{% endblock %}
{% block body %}
<body class="light">
<div class="main" id="main-box">
    <div class="chat">
        <div id="contentwrap"  class="contentwrap">
            <ul class="tab" id="tabs">
                <li draggable="true" class="li current" id="Tab'+ data[i].id +'" value='+ data[i].id +' onclick="change_tab('+ data[i].id +')"><span>CURRENT</span></li>
                <li draggable="true" class="li" id="Tab'+ data[i].id +'" value='+ data[i].id +' onclick="change_tab('+ data[i].id +')"><span>OFFLINE</span></li>
            </ul>
            <div id="Contents">
                <div class="dialogbox_container" id='+ data[i].id +'>
                    <div class="content" id="output-'+ data[i].id +'"></div>
                    <div class="prompt_container" id="Prompt-'+ data[i].id +'">
                    </div>
                    <div class="input-area">
                        <div class="txtb">
                            <textarea class="userInputArea" placeholder="输入内容" id="user-input-'+ data[i].id +'" source_id="'+ data[i].id +'" onInput="GetPrompts('+ data[i].id +')"></textarea>
                        </div>
                        <input id="model-input-'+ data[i].id +'" type="hidden" value='+ data[i].name +' />
                        <div class="button-area">
                            <button type="submit" id="SendInput" value="'+ data[i].id +'" onclick="SendInput(`'+ data[i].id +'`)">加载历史</button>
                            <button type="submit" id="SendInput" value="'+ data[i].id +'" onclick="SendInput(`'+ data[i].id +'`)">发 送</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expand">
        <div id="widgets_container_live" class="widgets_container">
            <div class="widgets_contentbox medium">
                <div style="height: 95%;">
                    <iframe src='/' frameborder=0></iframe>
                </div>
                <i style="margin-top: 1px;" class="fa fa-close" onclick=""></i>
                <i style="margin-top: 1px;" class="fa fa-close"></i>
            </div>
            <div class="widgets_contentbox medium">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
            <div class="widgets_contentbox medium">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
            <div class="widgets_contentbox medium">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
            <div class="widgets_contentbox">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
            <div class="widgets_contentbox">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
            <div class="widgets_contentbox">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
            <div class="widgets_contentbox">
                <iframe src='/widgets/Core_Percent' frameborder=0></iframe>
            </div>
        </div>
    </div>
</div>

<div class="model_box" id="account-box" style="display: none;">
    <h3 style="margin: auto;">模型管理</h3>
    <div id="model_container" class="model_container">
        <ul id="model_container_table">
            <!-- <li class="ele" draggable="true" id="'+ data[i].id +'">
                <div style="width: 70%;float:left;">
                    <span><div class="model_title">'+ data[i].model_name +'</div></span>
                    <span><div class="model_subtitle">'+ data[i].model_url +'</div></span>
                </div>
                <i class="fa fa-bars"></i>
                <i class="fa fa-info" id="model_'+ data[i].id +'" model_name="'+ data[i].model_name +'"
                model_url="'+ data[i].model_url +'" model_available="' + data[i].available + '" onclick="show_model_edit('+ data[i].id +')"></i>
            </li> -->
        </ul>
        <button class="btn_expand"><i class="fa fa-plus"></i></button>
    </div>
    <div class="model_edit" id="model_edit" style="display: none;">
        <button class="btn" id="model_close"><i class="fa fa-close"></i></button>
        <br>
        <input type="name" id="model_name" placeholder="小组件名称" />
        <input type="url" id="model_url" placeholder="小组件调用地址" />
        <button class="deny">del</button>
        <button class="edit">edit</button>
    </div>
    <!-- <div style="margin-left:20px">
    <div id="model_container" class="model_container">
        <ul id="container">
            <li class="ele" draggable="true" id="'+ data[i].id +'">
                <div style="width: 70%;float:left;">
                    <span><div class="widgets_title">'+ data[i].model_name +'</div></span>
                    <span><div class="widgets_subtitle">'+ data[i].model_url +'</div></span>
                </div>
                <i class="fa fa-bars"></i>
                <i class="fa fa-info" id="model_'+ data[i].id +'" model_name="'+ data[i].model_name +'"
                model_url="'+ data[i].model_url +'" model_available="' + data[i].available + '" onclick="show_model_edit('+ data[i].id +')"></i>
            </li>
        </ul>
        <button class="btn_expand"><i class="fa fa-plus"></i></button>
    </div> -->
</div>
</div>

<div class="widgets_box" id="widgets-box" style="display: none;">
    <h3 style="margin: auto;">插件管理</h3>
    <div id="widgets_container" class="widgets_container">
        <ul id="container">
            <li class="ele" draggable="true" id="'+ data[i].id +'">
                <div style="width: 70%;float:left;">
                    <span><div class="widgets_title">'+ data[i].widgets_name +'</div></span>
                    <span><div class="widgets_subtitle">'+ data[i].widgets_url +'</div></span>
                </div>
                <i class="fa fa-bars"></i>
                <i class="fa fa-info" id="widgets_'+ data[i].id +'" widgets_name="'+ data[i].widgets_name +'"
                widgets_url="'+ data[i].widgets_url +'" widgets_available="' + data[i].available + '" onclick="show_widgets_edit('+ data[i].id +')"></i>
            </li>
        </ul>
        <button class="btn_expand"><i class="fa fa-plus"></i></button>
    </div>
    <div class="widgets_edit" id="widgets_edit" style="display: none;">
        <button class="btn" id="widgets_close"><i class="fa fa-close"></i></button>
        <div class="widgets_contentbox">
            <iframe id="widgets_preview" allow="autoplay *" src="/widgets/RAM_Percent"></iframe>
        </div>
        <br>
        <input type="name" id="widgets_name" placeholder="小组件名称" />
        <input type="url" id="widgets_url" placeholder="小组件调用地址" />
        <button class="deny">del</button>
        <button class="edit">edit</button>
    </div>
</div>

<div class="models" id="models-box" style="display: none;">
    <div class="card_container">
        <a href="https://github.com/THUDM/ChatGLM-6B">
            <div class="card_contentbox">
                    <h2>ChatGLM-6B</h2>
                    <p>ChatGLM-6B 是一个开源的、支持中英双语的对话语言模型。更多信息请点击本链接</p>
            </div>
        </a>

        <a href="https://www.openai.com/">
            <div class="card_contentbox">
                <h2>ChatGPT</h2>
                <p>ChatGPT是由OpenAI开发的大型语言模型,用于进行自然语言交互。更多信息请点击本链接</p>
            </div>
        </a>

        <a href="https://github.com/AUTOMATIC1111/stable-diffusion-webui">
            <div class="card_contentbox">
                <h2>StableDiffusion</h2>
                <p>Stable Diffusion是一种潜在扩散模型,能够从文本描述中生成详细的图像。更多信息请点击本链接</p>
            </div>
        </a>
    </div>
</div>

<div class="settings" id="setting-box" style="display: none;">
    <div style="margin-left:20px" class="content">
        <hr class="line">
        <table>
            <thead>
                <tr>
                    <th>
                        <h3>外观设置  </h3>
                    </th>
                    <th>
                        <h3>UI Settings</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>深色模式</p>
                    </td>
                    <td>
                        <p><i class="fa fa-adjust" id="change-adjust"></i></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="line">
        <table>
            <tr>
                <th>
                    <h3>基础设置  </h3>
                </th>
                <th>
                    <h3>Base Settings</h3>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>语言设置</p>
                    </td>
                    <td>
                        <select id="Language">
                            <option id="Chinese">Chinese</option>
                            <option id="Japanese">Japanese</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>活跃检测</p>
                    </td>
                    <td>
                        <div class="switch-container">
                            <input id="ActiveExamine" type="hidden" value="False">
                            <input id="ActiveExamine_Checkbox" type="checkbox" class="hidden-checkbox" onclick="switch_load('ActiveExamine')">
                            <span class="switch-area"></span>
                            <span class="switch-toggle"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>启动超时限制</p>
                    </td>
                    <td>
                        <input type="number" id="Timeout" placeholder="60" value="" />
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="line">
        <table>
            <thead>
                <tr>
                    <th>
                        <h3>分享设置</h3>
                    </th>
                    <th>
                        <h3>Share Setting</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>远程地址</p>
                    </td>
                    <td>
                        <input type="text" id="Host" placeholder="127.0.0.1" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>端口</p>
                    </td>
                    <td>
                        <input type="number" id="Port" placeholder="5000" value="" />
                    </td>
                </tr>
            </thead>
        </table>
        <hr class="line">
        <table>
            <thead>
                <tr>
                    <th>
                        <h3>开发者设置  </h3>
                    </th>
                    <th>
                        <h3>Developer Settings</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>DeBug模式</p>
                    </td>
                    <td>
                        <div class="switch-container">
                            <input id="Develop" type="hidden" value="False">
                            <input id="Develop_Checkbox" type="checkbox" class="hidden-checkbox" onclick="switch_load('Develop')">
                            <span class="switch-area"></span>
                            <span class="switch-toggle"></span>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
        <hr class="line">
    </div>
    <button type="submit" class="save" onclick="save_settings()"><i class="fa fa-edit"></i>更改</button>
</div>

<div class="copyright" id="rights-box" style="display: none;" type="checkbox">
    <button class="btn"><i class="fa fa-close"></i></button>
    <div id="box">
        <img style="margin: 10px;width: 150px;height: 150px;" src="/static/res/intellifusion_sketch_1.ico.ico" alt="iF">
        <h3 style="margin: 50px;">inteliFusi0n Version 0.1.9(202308032000) <br>Developer Alpha</h3>
        <h5 style="margin: 50px;width: 100px;">use bootstrap5 framework<br>use E charts</h4>
        <a style="width: 100px;height: 50px;" href="https://www.github.com/hcl595/intellifusion/">
            <button class="Hyperlink">learn more...</button>
        </a>
        <h5  style="margin: 30px;">
        </h5>
    </div>
</div>

<div class="loadingOne" id="loading" style="display: none;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="AlertPlaceholder" id="liveAlertPlaceholder">
</div>

</body>
{% endblock %}
{% block footer %}
{% endblock %}
</html>