<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="static\css\bootstrap.min.css">
<link rel="stylesheet" href="static\css\font-awesome.css">
<link rel="stylesheet" href="static\css\style.css">
<link rel="shortcut icon" href="static\res\test.ico">
<script src="static\js\jquery.min.js" charset="utf-8"></script>
<script src="static\js\javascripts.js" charset="utf-8"></script>

<div class="login-container" id="login-box">
    <div class="login-form-container sign-up-container" id="SignUp">
        <div  action="/login" method="POST" id="SignUpDiv">
            <form>
                <h1>注册</h1>           
                <div class="txtb">
                    <input name="reg_txt" type="reg_text">
                    <span data-placeholder="Useranme" ></span>
                </div>
                <div class="txtb">
                    <input name="email" type="reg_email">
                    <span data-placeholder="Email" ></span>
                </div> 
                <div class="txtb">
                    <input name="set_password" type="reg_set_password">
                    <span data-placeholder="Password" ></span>
                </div>
                <div class="txtb">
                    <input name="check_password" type="reg_check_password">
                    <span data-placeholder="Confirm Password" ></span>
                </div>            
                <button herf="/register">注册</button>
                <p onclick="CloseLogin()" class="submit" style="margin-top: 2%;">取消</p>
            </div>
            </form>
    
    </div>

    <script>
        //打字机(常驻)
        var text = document.getElementById('text').getAttribute("data-text");//获取要输出的文字
        var index = 0;
        var element = document.getElementById('text');//获取元素
        function myprint() {
            if (index < text.length) {
                element.innerText = element.innerText + text.charAt(index);
                index++;
            } else {
                clearInterval(c);//输出完后关闭定时器
            }
        }
        var c = setInterval(myprint, 10);//定时器
        
        let height = document.querySelector('.content').scrollHeight;
        document.querySelector(".content").scrollTop = height;
        
        function SignUp(){
            $("#login-box").addClass('right-panel-active')
        }
        
        function SignIn(){
            $("#login-box").removeClass('right-panel-active')
        }
        
        $(".txtb input").on("focus",function(){
            $(this).addClass("focus")
        })
        
        $(".txtb input").on("blur",function(){
            if($(this).val() == '')
            $(this).removeClass("focus")
        })
        
        </script>