<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    
    <title>404</title>
</head>
<body>
    <center>
        <h1>404 NOT FOUND</h1>
        <form action="/">
            <button herf="/" style="background: linear-gradient(114deg, #08AEEA 0%, #2AF598 100%);height:20%;width:30%;border-radius :0.5rem;">BACK</button>
        </form>
    </center>
</body>
</html>
