<tr id="AddTr">
    <td>
        <select id="-1Type" name="type">
            <option selected>OpenAI</option>
            <option>WebUI</option>
            <option>API</option>
        </select>
    </td>
    <td> 
        <input type="text" id="-1Comment" placeholder="ChatGLM">
    </td>
    <td>
        <input type="text" class="url" id="-1Url" placeholder="127.0.0.1:8000">
    </td>
    <td>
        <input type="text" class="url" id="-1APIkey" placeholder="sk-ahsjfidajfuahfhla & none">
    </td>
    <td>
        <input type="TEXT" class="url" id="-1LcCompiler" placeholder=".\venv\scripts\python.exe">
    </td>
    <td>
        <input type="TEXT" class="url" id="-1LcUrl" placeholder=".\venv\launch.py">
    </td>
    <td>
        <button disabled type="submit" class="edit" name="edit" id="edit"><i class="fa fa-ban"></i></button>
    </td>
    <td>
        <button disabled type="submit" class="deny" name="del" id="del"><i class="fa fa-ban"></i></button>
    </td>
    <td>
        <button type="submit" class="allow" name="launch" id="add"><i class="fa fa-plus"></i></button>
    </td>
</tr>