<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
<script src="..\static\js\jquery.min.js" charset="utf-8"></script> <!-- jquery.js -->
<link rel="stylesheet" href="..\static\css\style.css"><!-- [ style.css ] -->
</head>
<body style="height: 100%; margin: 0">
    <div class="zsc_fanyi" style="font-size:medium;">
      当然,我可以为您编写一段冒泡排序程序。下面是一个简单的程序,可以从用户那里获取输入并输出一条问候消息:<br><br><pre>c++<br>#include <iostream> <br>using namespace std; <br>int main() <br>{ <br>    int arr[100]; <br>    cout &lt;&lt; "Please enter your name: "; <br>    cin &gt;&gt; arr[0]; <br>    cout &lt;&lt; "Hello, " &lt;&lt; arr[0] &lt;&lt; "! Nice to meet you." &lt;&lt; endl; <br>    cout &lt;&lt; "And now, the array is: " &lt;&lt; endl; <br>    for (int i = 1; i &lt; arr.size(); i++) <br>        cout &lt;&lt; arr[i] &lt;&lt; " "; <br>    cout &lt;&lt; endl; <br>    return 0; <br>}<br><br>运行这个程序后,它会首先向用户询问输入你的名字,然后输出一条问候消息,使用你的名字来定制问候。</pre>
    </div>
</body>
</html>