<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
<script src="..\static\js\jquery.min.js" charset="utf-8"></script> <!-- jquery.js -->
</head>
<body style="height: 100%; margin: 0" onload="getData()">
  <div id="widgets_RAM_percent_container" style="height: 100%;width: 100%;"></div>
  
  <script type="text/javascript" src="../static/js/echarts.min.js"></script>
  <script type="text/javascript">
    function getData(){
      $.ajax({
        url: '/widgets/Get_RAM_Percent',
        type: 'POST',
        success: function(response) {
          var RAM_Data = response.data
          var dom = document.getElementById('widgets_RAM_percent_container');
          var myChart = echarts.init(dom, null, {
            renderer: 'canvas',
            useDirtyRect: false
          });
          var app = {};
          
          var option;
      
          option = {
            animation: false,
        // tooltip: {
        //   formatter: '{a} <br/>{b} : {c}%'
        // },
        series: [
          {
            name: 'Occupancy Rate',
            type: 'gauge',
            progress: {
              show: true
            },
            detail: {
              valueAnimation: true,
              formatter: '{value}'
            },
            data: [
              {
                value: RAM_Data,
                name: 'RAM (%)'
              }
            ]
          }
        ]
      };
      if (option && typeof option === 'object') {
        myChart.setOption(option);
      }
  
      window.addEventListener('resize', myChart.resize);
        }
    });
    }
    var int = setInterval(function(){
      getData()
    },10000)
  </script>
</body>
</html>