h1 {
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
  }
  span {
    color: #ffffff;
    font-size: 12px;
  }
  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .login-container {
    margin:0 auto;
    background: #ffffff70;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;   
  
  }
  
  .login-form-container form {
    background-color: #ffffff5e;
    backdrop-filter: blur(500px);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
  .login-social-container {
    margin: 20px 0;
  }
  
  .login-social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
  }
  
  .login-social-container a:hover {
    background-color: #eee;
  
  }
  
  .txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 10px 0;
  }
  
  .txtb input {
    font-size: 15px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 3px;
    height: 35px;
  }
  
  .txtb span::before {
    content: attr(data-placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    transition: .5s;
  }
  .txtb span::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    width: 0%;
    height: 2px;
    background:rgba(255, 255, 255, 0.301);
    transition: .5s;
  }
  
  .focus + span::before {
    top: -5px;
  }
  
  .focus + span::after {
    width: 100%;
  }
  
  button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }
  
  button:active {
    transform: scale(.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background: transparent;
    border-color: #fff;
  }
  
  .login-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
  }
  
  .login-form-container button {
    background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border: none;
    background-size: 200%;
    color: #fff;
    transition: .5s;
  }
  
  .login-form-container button:hover {
    background-position: right;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  .sign-in-container form a {
    position: relative;
    left: 100px;
  }
  .sign-up-container {
    border:1px solid #dee2e6cf;
    background:rgba(255, 255, 255, 0);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.192);
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }
  .sign-up-container button {
    margin-top: 20px;
  }
  .overlay-container {
    position:absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
  }
  .overlay {
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
  }
  .overlay-right {
    right: 0;
    transform: translateY(0);
  }
  
  .overlay-left {
    transform: translateY(-20%);
  }
  
  .login-container.right-panel-active .sign-in-container {
    transform: translateY(10%);
  }
  
  .login-container.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  .login-container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
  }
  .login-container.container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  .login-container.container.right-panel-active .overlay-left {
    transform: translateY(0);
  }
  .login-container.container.right-panel-active .overlay-right {
    transform: translateY(20%);
  }
  