html::before {
  content: '';
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: auto;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  /* background: linear-gradient(62deg, #7e91fb 0%, #68bef7 100%); */
}

 .light{
  white-space: nowrap;
  height: 100vh;
  width: 100vw;
  background-color: #68bef7;
}

/* icon Bar */

.light .icon-bar nav {
  float: left;
  width: 100px;
  height: 100vh;
  border-radius: 12px;
  backdrop-filter: blur(18px);
  background: rgba(230, 235, 240, .7);
  border: 2px solid rgba(230, 235, 240, .7);
  box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}

.light .icon-bar nav:hover {
    width: 300px;
}

.light nav .brand {
    width: 100%;
    display: flex;
    align-items: center;
}

.light nav .brand img {
    width: 65px;
    border-radius: 50%;
    border: 4px solid rgba(230, 235, 240, .8);
}

.light nav .brand p {
    color: #505257;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    margin: 0 0 0 12px;
}

.light nav .brand p span {
    color: #3c3e43;
    display: block;
    font-size: 26px;
    font-style: normal;
}

.light nav .line {
    width: 100%;
    height: 2px;
    margin: 32px 0;
    border-radius: 30%;
    background: #87a3af;
}

.light nav .list {
    width: 100%;
}

.light nav .list li {
    display: flex;
    margin: 12px 0;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

.light nav .list li:hover {
    background: rgba(230, 235, 240, .4);
}

.light nav .list li.active {
    background: #3681f6;
}

.light nav .list li.active span {
    color: #fff;
    flex: none;
}

.light nav .list li.active i {
    background: none;
    background-clip: unset;
    -webkit-text-fill-color: unset;
    color: #e6ebf0;
}

.light nav .list i {
  font-size: 20px;
  background-clip: text;
  color: #0099ff;
  }

  .light nav .list span {
    color: #505257;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 12px;
    flex: none;
}

nav .brand p,
nav .list span {
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        pointer-events: unset;
        transform: translateX(0);
    }
}

nav:hover .brand p {
    animation: fadeIn .4s ease-out forwards;
    animation-delay: .4s;
}

nav:hover .list span {
    animation: fadeIn .4s ease-out forwards;
}

nav:hover .list li:nth-child(1) span {
    animation-delay: .3s;
}

nav:hover .list li:nth-child(2) span {
    animation-delay: .35s;
}

nav:hover .list li:nth-child(3) span {
    animation-delay: .4s;
}

nav:hover .list li:nth-child(4) span {
    animation-delay: .45s;
}

nav:hover .list li:nth-child(5) span {
    animation-delay: .5s;
}

nav:hover .list a li:nth-child(1) span {
    animation-delay: 0.5s;
}

nav:hover .list li:nth-child(8) span {
    animation-delay: 0.6s;
}

::selection {
  color: #fff;
  background-color: rgb(129, 228, 241);
}


/* Tab */
.light .contentwrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(18px);
  border: 2px solid rgba(230, 235, 240, .5);
  border-radius: 2%;
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}
.light ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  border-radius: 1%;
}
.light ul.tab {
  border-radius: 1%;
  border-bottom: 1px solid #ccc;
  padding-bottom:1px;
  height: 40px;
  line-height: 30px;
  color: #696969;
}
.light ul.tab li {
  border-radius: 10%;
  float: left;
  cursor: pointer;
  padding: 0px;
}
.light ul.tab li.li {
  padding: 0px 25px 0px;
  border-radius: 14px;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  background:#f4f5f900;
  border-top: 1px solid #007bff;
  border-left: 1px solid #C5D0DC;
  border-bottom: 1px solid #C5D0DC;
  background-color: rgba(0, 0, 0, .05);
}
.light ul.tab li.current {
  border-radius: 14px;
  border-bottom: 0px;
  border-top: 2px solid #7599DE;
  font-size: 13px;
  color: #343434;
  background:#ffffff4f;
  
}
.light ul.tab li.li:last-child{border-right: 1px solid #C5D0DC;}


/* 对话框 */

.dialogbox_container{
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.459);
  backdrop-filter: blur(18px);
}
.content{
  max-width: 100%;
  min-height: 77vh;
  overflow-y: auto;
}
.content:hover::-webkit-scrollbar-thumb{
  background:rgba(0,0,0,0.1);
}
.bubble{
  white-space: initial;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  color: #000;
  word-wrap:break-word;
  word-break:normal; 
}
.item-left .bubble{
  margin-left: 15px;
  background-color: #6d7086;
  color: #fff;
}
.item-left .bubble:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #6d7086;
  border-bottom: 10px solid transparent;
  left: -20px;
}
.item-right .bubble{
  margin-right: 15px;
  background-color: #68bef7;
}
.item-right .bubble:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid #68bef7;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -20px;
}
.item{
  margin-top: 15px;
  display: flex;
  width: 100%;
}
.item.item-right{
  justify-content: flex-end;
}
.item.item-center{
  justify-content: center;
}
.item.item-center span{
  font-size: 12px;
  padding: 2px 4px;
  color: #ffffff57;
  background-color: #dadada;
  border-radius: 1rem;
  border-radius: 3px;
  -moz-user-select:none; /*火狐*/
  -webkit-user-select:none; /*webkit浏览器*/
  -ms-user-select:none; /*IE10*/
  -khtml-user-select:none; /*早期浏览器*/
  user-select:none;
}
.avatar i{
  font-size: 35px;
  margin-left: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.input-area{
  border-top:0.5px solid #e0e0e0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
}
textarea{
  flex: 5;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  overflow: scroll;
  outline:none;
  resize:none;
  border-radius: 1rem;
  max-width: 100vw;
  min-width: 75vw;
  margin-top:10px;
  margin-left: 10px;
  border: 0;
  border-radius: 4px;
}
.button-area{
  flex: 1;
  display: flex;
  height: 40px;
  margin-top: 3px;
  margin-right: 10px;
  line-height: 40px;
  padding: 5px;
  justify-content: flex-end;
}
.button-area button{
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}
.button-area button i{
  margin-top: auto;
}
.prompt_container{
  border-top:0.5px solid #9cedff60;
  width: 100%;
  height: 50px;
  display: flex;
  overflow: scroll;
  flex-flow:nowrap;
  background-color: #32fcff3a;
  border-radius: 1rem;
}
.prompt_container .prompt{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  backdrop-filter: blur(20px);
}





/* Loading */
.loadingOne{
  z-index: 3;
  position:fixed;
  top: 48vh;
  left: 49vw;
  width: 80px;
  height: 20px;
}
.loadingOne span{
  display: inline-block;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background: lightsalmon;
  -webkit-animation: load 1s ease infinite;
  animation: load 1s ease infinite;
}
@keyframes load{
  0%,100%{
      height: 40px;
      background: rgb(255, 164, 162);
  }
  50%{
      height: 70px;
      margin: -15px 0;
      background: rgb(230, 207, 173);
  }
}
.loadingOne span:nth-child(2){
  -webkit-animation-delay:0.2s;
  animation-delay:0.2s;
}
.loadingOne span:nth-child(3){
  -webkit-animation-delay:0.4s;
  animation-delay:0.4s;
}
.loadingOne span:nth-child(4){
  -webkit-animation-delay:0.6s;
  animation-delay:0.6s;
}
.loadingOne span:nth-child(5){
  -webkit-animation-delay:0.8s;
  animation-delay:0.8s;
}

/* Widgets */

.widgets_container {
  max-width: 100%;
  max-height: 100vh;
  min-height: 95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  float: right;
}
.widgets_contentbox {
  width: 320px;
  height: 320px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.486);
  box-shadow: 5px 5px 10px 0px lightgray;
  border-radius: 10px;
  transition: 0.3s;
  word-break:break-word;
  white-space: nowrap; 
  overflow: auto;
}
.widgets_contentbox h2 {
  margin-left: 20px;
  color: black;
}
.widgets_contentbox p {
  margin-left: 20px;
  color: black;
}
.widgets_contentbox:hover {
  scale: 0.97;
  box-shadow: none;
} 

/* Cards */

.card_container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
.card_contentbox {
  width: 320px;
  height: 320px;
  margin: 10px;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.486);
  box-shadow: 5px 5px 10px 0px lightgray;
  border-radius: 10px;
  transition: 0.3s;
  word-break:break-word;
  white-space:pre-line; 
  overflow: auto;
}
.card_contentbox h2 {
  margin-left: 20px;
  color: black;
}
.card_contentbox p {
  margin-left: 20px;
  color: black;
}
.card_contentbox:hover {
  scale: 0.97;
  box-shadow: none;
} 

/* Pages */

.main {
  height: 100vh;
  min-width: 60%;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  white-space: nowrap;
}

.account {
  height: 100vh;
  min-width: 40px;
  max-width: 100%;
  display: flex;
  border-radius: 12px;
  backdrop-filter: blur(18px);
  background: rgba(230, 235, 240, .5);
  border: 2px solid rgba(230, 235, 240, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  overflow: auto;
}
.account table{
  margin: 20px;
  flex: none;
  overflow-x: scroll;
}
.account table select{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .05);
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}
.account table input{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .05);
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}
.account table input:hover{
  border-radius: 5px;
  background-color: rgba(170, 255, 136, 0.05);
  box-shadow: #000;
  border-color: rgba(0, 0, 0, 0.05);
}
.account table .url{
  width: 100px;
}
.account table .url:hover{
  width: 300px;
}

.models {
  height: 100vh;
  min-width: 60%;
  max-width: 100%;
  overflow: hidden;
  backdrop-filter: blur(18px);
  background: rgba(230, 235, 240, .5);
  border: 2px solid rgba(230, 235, 240, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  border-radius: 12px;
}

.widgets {
  height: 100vh;
  min-width: 60%;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column;
}

.widgets_box {
  height: 100vh;
  min-width: 60%;
  max-width: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column;
  backdrop-filter: blur(18px);
  background: rgba(230, 235, 240, .5);
  border: 2px solid rgba(230, 235, 240, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  border-radius: 12px;
}

.settings {
  height: 100vh;
  min-width: 40px;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  border-radius: 12px;
  backdrop-filter: blur(18px);
  background: rgba(230, 235, 240, .5);
  border: 2px solid rgba(230, 235, 240, .5);
  box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  overflow: auto;
  border-radius: 12px;
}
.settings .content{
  max-width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}
.settings .content:hover::-webkit-scrollbar-thumb{
  background:rgba(0,0,0,0.1);
}
.settings .content .table{
  margin: 20px;
}
.settings .content .line {
  width: 100%;
  height: 2px;
  margin: 32px 0;
  border-radius: 30%;
  background: #87a3af;
}
.settings .content input{
  min-width: auto;
  max-width: 80vw;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .05);
}
.settings select{
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .05);
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}
.settings .content table thead tr th h3,.settings table td p{
  margin-left: 10px;
  margin-right: 10px;
}


/* Windows */
.copyright {
  background: #ffffff70;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
  position: relative;
  overflow: hidden;
  margin-top: auto;
  width: 50vw;
  min-height: 30vh;   
  z-index: 3;
  position:fixed;
  top:  20vh;
  left: 30vw;
}
.copyright p{
  word-break: break-all;
}
.AlertPlaceholder {
  position: fixed;
  right: 10px;
  top: 10px;
}


/* Others */
.light .run {
  background-color: rgba(117, 255, 89, 0.671);
  border-radius:20px;
  border: 1px solid rgba(5, 31, 0, 0.671);
}
.light .add {
  width: 70px;
  background-color: rgba(117, 255, 89, 0.671);
  border: 1px solid rgba(5, 31, 0, 0.671);
  border-radius:20px;
}
.light .stop,.light .deny {
  background-color: rgba(255, 89, 89, 0.671);
  border: 1px solid rgba(31, 0, 0, 0.671);
  border-radius:20px;
}
.light .edit {
  background-color: rgba(89, 147, 255, 0.671);
  border-radius:20px;
  border: 1px solid rgba(0, 22, 31, 0.671);
}
a {
  TEXT-DECORATION:none;
}


/*copyright_close*/

.btn {
  background-color: none;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  float: right;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn {
  background-color: none; 
  color: rgb(151, 151, 151);
}

.Hyperlink {
  color: #000;
  width:200px; 
  height:30px; 
  margin:0 auto; 
  /* border:1px solid #ccc;  */
  background: none; 
  opacity:0.5;
  border-radius: 8px;
  border: none; 
}



/* Dark */
body .dark{
  /* white-space: nowrap; */
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

/* icon Bar */

.dark .icon-bar nav {
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100vh;
  backdrop-filter: blur(18px);
  background: rgb(32, 32, 32);
  box-shadow: 0 0 30px rgba(0, 0, 0, .05);
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}

.dark .icon-bar nav:hover {
    width: 300px;
}

.dark nav .brand {
    width: 100%;
    display: flex;
    align-items: center;
}

.dark nav .brand img {
    width: 65px;
    border-radius: 50%;
    border: 4px solid rgba(230, 235, 240, .8);
}

.dark nav .brand p {
    color: #e5ebfb;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    margin: 0 0 0 12px;
}

.dark nav .brand p span {
    color: #3c3e43;
    display: block;
    font-size: 26px;
    font-style: normal;
}

.dark nav .line {
    width: 100%;
    height: 2px;
    margin: 32px 0;
    border-radius: 30%;
    background: #8ba4af;
}

.dark nav .list {
    width: 100%;
    overflow: hidden;
  }

.dark nav .list li {
    display: flex;
    margin: 12px 0;
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: .4s ease-in-out;
}

.dark nav .list li:hover {
    color: rgb(255,255,255);
}

.dark nav .list li.active {
    background: #3681f6;
}

.dark nav .list li.active span {
    color: #fff;
    overflow: hidden;
    flex: none;
  }

.dark nav .list li.active i {
    background: none;
    background-clip: unset;
    -webkit-text-fill-color: unset;
    color: #e6ebf0;
}
.dark nav .list i {
  font-size: 20px;
  background-clip: text;
  color: #ffffff;
  }

  .dark nav .list span {
    overflow: hidden;
    flex: none;
    color: #c0c6d5;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 12px;
}


/* Tab */
.dark .contentwrap {
  width: 100%;
  background-color: rgba(38, 38, 38, 0.212);
  border-radius: 2%;
  transition: .6s cubic-bezier(.8, .5, .5, .8);
}
.dark ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
.dark ul.tab {
  background-color: rgba(32, 32, 32);
  padding-bottom:1px;
  height: 40px;
  line-height: 30px;
  color: rgb(32, 32, 32);
}
.dark ul.tab li {
  float: left;
  cursor: pointer;
  border: 0.1px solid rgb(61, 61, 61);
}
.dark ul.tab li.li {
  padding: 0px 25px 0px;
  font-size: 13px;
  height: 40px;
  background:rgb(31, 31, 31);
  color: #909090;
}
.dark ul.tab li.current {
  border-bottom: 0px;
  border-top: 2px solid #0073ff;
  font-size: 13px;
  color: #ffffff;
  background:#484848;
}
.dark ul.tab li.li:last-child{border-right: 1px solid rgb(61, 61, 61);}

.dark .run {
  background-color: rgba(117, 255, 89, 0);
  border: none;
  border-color: #007bff;
  border-radius:20px;
  border: 3px solid #000;
}
.dark .add {
  width: 70px;
  background-color: rgba(117, 255, 89, 0);
  border: none;
  border-radius:20px;
  border: 3px solid #000;

}
.dark .stop,.dark .deny {
  background-color: rgba(255, 89, 89, 0);
  border: none;
  border-radius:20px;
  border: 3px solid #000;
}
.dark .close {
  background-color: rgba(255, 225, 89, 0);
  border-radius:20px;
  border: 3px solid #000;
}
.dark .edit {
  background-color: rgba(89, 147, 255, 0);
  border: none;
  border-radius:20px;
  border: 3px solid #000;
}


/* 滑块 */


/* .switch_on {

  font-size: 16px;

  width: 40px;

  height: 50px;

  line-height: 50px;

}

.switch_on span,.switch_on input {

  width: 40px;

  height: 50px;

  position: absolute;

  background: none;

  -webkit-appearance: none;

}

.switch_on span.input.checked:before {

  border-color: #64bd63;

  box-shadow: #64bd63 0px 0px 0px 16px inset;

  background-color: #64bd63;

  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;

}

.switch_on span.input:before {

  content: '';

  width: 40px;

  height: 25px;

  border-radius: 20px;

  display: inline-block;

  position: absolute;

  top: 12.5px;

  left: 0;
  
  border: 1px solid #dfdfdf;

  box-shadow: #dfdfdf 0px 0px 0px 0px inset;
  
  background-color: #fdfdfd;

  transition: border 0.4s, box-shadow 0.4s;

  background-clip: content-box;

}

.switch_on span.input.checked:after {
  
  left: 15px;
}

.switch_on span.input:after {

  content: '';

  width: 25px;

  height: 25px;

  position: absolute;

  top: 12.5px;

  left: 0;  

  border-radius: 100%;

  background-color: #fff;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  transition: left 0.2s;  

} */